@charset "utf-8";

//========================================
//
// common
//
//========================================

.ttl {
	&_main {
		margin: 50px 0;
		text-align: center;
		font-size: 5.4rem;
		color: #eee;
		@media #{$small} {
			margin: 90px 0 50px;
			font-size: 4.6rem;
		}
		a {
			color: #eee;
		}
	}
}

.sfTrgr {
	text-align: center;
	color: #ccc;
	margin-bottom: 40px;
	font-size: 1.2rem;
	letter-spacing: 0.3em;
	@media #{$small} {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 20px 0;
		background: #f2f2f2;
		border-bottom: 1px solid #ddd;
		color: #aaa;
		z-index: 9999;
	}
}

.sf {
	margin: 50px auto 80px;
	width: 500px;
	font-size: 1.3rem;
	@media #{$small} {
		display: none;
		box-sizing: border-box;
		position: fixed;
		top: 53px;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 30px 20px;
		background: #FFF;
		border-bottom: 1px solid #ccc;
		z-index: 9998;
	}
	dl {
		overflow: hidden;
	}
	dt {
		float: left;
		width: 80px;
		line-height: 30px;
		@media #{$small} {
			width: 100px;
		}
	}
	dd {
		overflow: hidden;
	}
	input, select {
		box-sizing: border-box;
		width: 100%;
		padding: 5px 10px;
		border: 1px solid #aaa;
		border-radius: 4px;
		background: #FFF;
	}
	&_freeword {
		margin: 0 0 20px;
		dt {
			width: 100px;
		}
		dd {}
	}
	&_status {
		float: left;
		width: 240px;
		margin: 0 30px 20px 0;
		@media #{$small} {
			float: none;
			width: auto;
			margin: 0 0 10px;
		}
	}
	&_genre {
		overflow: hidden;
		margin: 0 0 20px;
		@media #{$small} {
			margin: 0 0 10px;
		}
	}
	&_label {
		@extend .sf_status;
	}
	&_size {
		@extend .sf_genre;
	}
	&_button {
		@media #{$small} {
			margin-top: 20px;
		}
	}
}

.contents {
	max-width: 1050px;
	margin: 0 auto;
}

.itemList {
	margin: 0 auto 50px;
	img {
		width: 100%;
		height: auto;
		cursor: pointer;
	}
	li {
		width: 150px;
		margin-bottom: 30px;
	}
}

.bookData {
	text-align: center;
	&_img {
		margin-bottom: 30px;
		img {
			max-width: 260px;
			height: auto;
		}
	}
	&_ttl {
		font-size: 2.4rem;
		line-height: 1.6;
		margin-bottom: 30px;
	}
	&_data {
		font-size: 1.4rem;
		line-height: 1.8;
	}
}

.notFound {
	text-align: center;
	margin: 0 20px;
	font-size: 1.3rem;
}

.pager {
	display: none;
	text-align: center;
	font-size: 1.3rem;
	li {
		display: inline;
	}
}

.mfp-content {
	background: #fff;
	box-sizing: border-box;
	padding: 50px 30px;
	max-width: 500px;
}

#infscr-loading {
	img {
		width: auto;
	}
}
